"*":
  "api-workbench": {}
  "atom-beautify":
    _analyticsUserId: "b6ae3407-dd91-466c-b386-0fe3330d5ec8"
    js_indent_size: 4
  "autocomplete-plus": {}
  "bracket-matcher":
    autocompleteBrackets: false
  build:
    saveOnBuild: true
    scrollOnError: true
    stealFocus: false
  core:
    disabledPackages: [
      "background-tips"
      "exception-reporting"
      "metrics"
      "about"
      "line-ending-selector"
      "mate-subword-navigation"
      "tree-view-open-files"
      "api-workbench"
    ]
    hideGitIgnoredFiles: true
    ignoredNames: [
      ".bundle"
      ".git"
      "log"
      "repositories"
      "tmp"
      "vendor"
      "CT"
      "CI"
      "E2E"
      ".DS_Store"
    ]
    packagesWithKeymapsDisabled: [
      "bracket-matcher"
    ]
    projectHome: "/Users/johnste/code"
    themes: [
      "one-dark-ui"
      "birds-of-paradise-theme"
    ]
  date: {}
  editor:
    backUpBeforeSaving: true
    fontFamily: "Menlo"
    fontSize: 12
    invisibles: {}
    preferredLineLength: 110
    showIndentGuide: true
  "find-and-replace":
    scrollToResultOnLiveSearch: true
  "fuzzy-finder": {}
  jshint:
    onlyConfig: true
    supportLintingJsx: true
  linter: {}
  "linter-eslint":
    disableWhenNoEslintrcFileInPath: true
    showRuleIdInMessage: false
  minimap:
    plugins:
      "highlight-selected": true
  "one-dark-ui": {}
  "project-manager": {}
  "release-notes":
    viewedVersion: "0.89.0"
  "scala-worksheet-plus": {}
  "spell-check":
    grammars: [
      "text.plain"
      "source.gfm"
      "text.git-commit"
    ]
  tabs:
    usePreviewTabs: true
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
".attribute-values.js.jsx.source":
  editor:
    preferredLineLength: 110
".js.jsx.react.source":
  editor:
    preferredLineLength: 110
".js.jsx.source":
  editor:
    preferredLineLength: 110
".js.source.subtlegradient":
  editor:
    preferredLineLength: 110
".raml.source":
  editor:
    preferredLineLength: 110
