"*":
  editor:
    showIndentGuide: true
    fontFamily: "Menlo"
    invisibles: {}
    fontSize: 12
    backUpBeforeSaving: true
    showInvisibles: true
  core:
    ignoredNames: [
      ".bundle"
      ".git"
      "log"
      "repositories"
      "tmp"
      "vendor"
      ".*"
      "CT"
      "CI"
      "E2E"
      "bower_components"
      "node_modules"
    ]
    themes: [
      "unity-ui"
      "glacier-syntax"
    ]
    hideGitIgnoredFiles: true
    disabledPackages: [
      "background-tips"
      "exception-reporting"
      "metrics"
      "about"
      "line-ending-selector"
    ]
    projectHome: "/Users/johnste/code"
  "spell-check":
    grammars: [
      "text.plain"
      "source.gfm"
      "text.git-commit"
    ]
  welcome:
    showOnStartup: false
  "release-notes":
    viewedVersion: "0.89.0"
  "fuzzy-finder": {}
  "autocomplete-plus": {}
  "project-manager": {}
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
  tabs:
    usePreviewTabs: true
  minimap:
    plugins:
      "highlight-selected": true
