'.platform-darwin':
  'ctrl-cmd-r': 'tree-view:reveal-active-file'

'body':
  'shift-cmd-w': 'pane:close-other-items'

'.platform-darwin atom-workspace, .platform-darwin atom-text-editor':
  'cmd-b': 'build:trigger'

#'.platform-darwin atom-text-editor':
#  'ctrl-nope': 'bracket-matcher:remove-matching-brackets'

'.platform-darwin atom-text-editor':
  'ctrl-alt-shift-backspace': 'bracket-matcher:remove-matching-brackets'

'atom-text-editor':
  'alt-delete': 'editor:delete-to-next-word-boundary'
  'alt-backspace': 'editor:delete-to-previous-word-boundary'
  'ctrl-left': 'editor:move-to-previous-subword-boundary'
  'ctrl-right': 'editor:move-to-next-subword-boundary'
  'ctrl-backspace': 'editor:delete-to-beginning-of-subword'
  'ctrl-delete': 'editor:delete-to-end-of-subword'
