"widget-navbar-ui":
  title: "Widget Navbar"
  paths: [
    "/Users/jsterling/code/widget-navbar-ui"
  ]
  settings:
    core:
      ignoredNames: [
        ".DS_Store"
        ".npmrc"
        "jspm_packages"
      ]
"node-standard-service":
  title: "node-standard-service"
  paths: [
    "/Users/jsterling/code/node-standard-service"
  ]
"marketplace-ui-service":
  title: "marketplace-ui-service"
  paths: [
    "/Users/jsterling/code/marketplace-ui-service/src"
  ]
  settings:
    core:
      ignoredNames: [
        ".DS_Store"
      ]
